<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/scripts/script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <title>Chat</title>
</head>
<body>
<script>

</script>
<div>
  <h2>Feedback</h2>
  <p>For feedback, please fill out google forms!</p>
</div>
<div class="content2">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfjaA5aEWq7zDYh-r75n7e39TyGBYw9upqOBCLSJWtmHI6jJw/viewform?embedded=true"
        width="640" height="1904" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
<div>
    <a href="/"><button>HOME</button></a>
</div>

</body>
</html>