<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <title>Cats<3</title>
</head>
<body>
<script>

</script>
<div>
    <h2>Cats</h2>
</div>
<div class="content">
    <div class="images">
        <img src="../static/cat1.jpg" style="display: block">
        <img src="../static/cat2.jpg" style="display: none">
        <img src="../static/cat3.jpg" style="display: none">
    </div>
</div>
<div>
    <a href="/feedback"><button>FEEDBACK</button></a>
</div>

</body>
</html>