body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:Verdana, Geneva, sans-serif;
}

h2{
text-align: center;
}

.content{
    height: 900px;
    width: 750px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}

.content2{
    height: 1904px;
    width: 640px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}

.content3{
    height: 900px;
    width: 750px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    overflow-y: scroll;
}

.content .images{
    height: 100%;
    width: 100%;
}

img{
    height: 100%;
    width: 100%;
}

button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    width: 140px;
    height: 49px;
}

.write{
    display:flex;
    justify-content: center;
    width: 700px;
}

#user{
    width: 100px;
    height: 43px;
}

#message{
    width: 450px;
    height: 43px;
}

textarea {
    resize: none;
}

#input{
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    width: 140px;
    height: 49px;
}

form{
    width: 750px;
}

.buttons{
    margin: 25px
}